<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div *ngIf="admin() && loggedIn()">
      <a class="navbar-brand" [routerLink]="['/question']">
        <img
          src="../../assets/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        TES Cora
      </a>
    </div>
    <div *ngIf="!admin() && loggedIn()">
      <a class="navbar-brand" [routerLink]="['/messages']">
        <img
          src="../../assets/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        TES Cora
      </a>
    </div>
    <div *ngIf="!loggedIn()">
      <a class="navbar-brand" [routerLink]="['/']">
        <img
          src="../../assets/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        TES Cora
      </a>
    </div>

    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        *ngIf="
          admin() == true || (show_scoreboard() == true && loggedIn() == true)
        "
        routerLinkActive="active"
      >
        <a class="nav-link" [routerLink]="['/scoreboard']">Scoreboard</a>
      </li>
      <li
        class="nav-item"
        *ngIf="loggedIn() == true && admin() == false"
        routerLinkActive="active"
      >
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item" *ngIf="admin()" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/question']">Question</a>
      </li>
      <li class="nav-item" *ngIf="admin()" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/grading']">Grading</a>
      </li>
      <li class="nav-item" *ngIf="admin()" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/systemAdmin']"
          >System Administration</a
        >
      </li>
    </ul>

    <div *ngIf="loggedIn() == true" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{ greeting + ", " + (this.authService?.username | titlecase) }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/editUser']"
          ><i class="fa fa-user"></i>Edit Profile</a
        >
        <div class="dropdown divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Log out</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Name"
        name="name"
        value=""
        required
        [(ngModel)]="model.name"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        name="password"
        value=""
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
