<form #registerForm="ngForm" (ngSubmit)="update()">
  <h2 class="text-center text-primary">Update user settings</h2>
  <hr />
  <div class="container">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        required
        name="name"
        [(ngModel)]="model.name"
        value="{{ this.model.teamname }}"
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        required
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
      />
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Update</button>
    </div>
  </div>
</form>
