<div class="container mt-5">
  <div *ngIf="!registerMode && !loggedIn" style="text-align: center">
    <h1>Welcome to the TES Cora System</h1>
    <p class="lead">An online tabletop exercise system... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-lg" (click)="setRegisterMode()">Register</button>
    </div>
    <div class="pt-3">
      <img
      src="/assets/background.jpg"
      class="img-fluid"
      alt="Responsive image"
    />
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>