<form #registerForm="ngForm" (ngSubmit)="update()">
  <h2 class="text-center text-primary">Update question</h2>
  <hr />
  <div class="container">
    <div class="form-group">
      <textarea
        [(ngModel)]="model.content"
        name="content"
        value="{{ this.question.content }}"
        width="100%"
        class="form-control"
        autocomplete="off"
        required
      >
      </textarea>
      <input
        type="time"
        [(ngModel)]="model.deadline"
        name="deadline"
        required
        value="{{ this.question.deadline | date: 'HH:mm' }}"
        width="100%"
        class="form-control"
        autocomplete="off"
      />
    </div>

    <div class="form-group text-center btn-group">
      <button class="btn btn-success" type="submit">Update</button>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>
