<div class="container pt-3">
  <form #showScoreboardForm="ngForm" (ngSubmit)="update($event)">
    <div class="custom-control custom-switch">
      <input
        type="checkbox"
        class="custom-control-input"
        [(ngModel)]="this.model.showScoreboard"
        (ngModelChange)="update($event)"
        id="showScoreboard"
        name="showScoreboard"
      />
      <label class="custom-control-label" for="showScoreboard"
        >Show scoreboard to participants</label
      >
    </div>
  </form>
</div>
