<div class="container pt-3 pb-3">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history" #scroll>
          <div *ngFor="let message of messages">
            <div *ngIf="message.senderId != 1">
              <div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>
                      Question: {{ message.questionId }} <br />
                      {{ message.content }}
                    </p>
                    <span class="time_date">{{
                      message.timeSent | date: "dd-MM-yyyy - HH:mm"
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div *ngIf="message.senderId == 1">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>
                      Question: {{ message.questionId }} <br />
                      {{ message.content }} <br />
                      Deadline:
                      {{ message.question.deadline | date: "HH:mm" }} <br />
                    </p>
                    <span class="time_date">{{
                      message.timeSent | date: "dd-MM-yyyy - HH:mm"
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form #sendForm="ngForm" (ngSubmit)="sendMessage()">
          <div class="form-group">
            <div class="type_msg">
              <div class="input_msg_write">
                <div class="row">
                  <div class="col-xs-6">
                    <input
                      type="number"
                      autocomplete="off"
                      class="form-control"
                      required
                      name="model"
                      [(ngModel)]="model.questionId"
                      placeholder="Question Id"
                    />
                  </div>
                  <div class="col">
                    <textarea
                      [(ngModel)]="model.content"
                      name="model"
                      placeholder="Type your answer"
                      width="100%"
                      height="100%"
                      class="form-control"
                      autocomplete="off"
                      required
                    >
                    </textarea>
                  </div>
                  <div class="col-xs-2">
                    <button
                      [disabled]="!sendForm.valid"
                      class="msg_send_btn form-group"
                      type="submit"
                    >
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
