.card-header {
  background-color: #96be1e;
  color: #ffffff;
}

.card-header-tabs {
  background-color: #96be1e !important;
  color: #ffffff;
}

.nav-item {
  background-color: #144196;
  border-radius: 5px;
}
li a{
  background-color: #144196;
  color: #ffffff;

}