<div class="container pt-3">
  <div *ngFor="let user of result">
    <div class="pt-3">
      <div class="card">
        <div class="text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <div *ngFor="let question of user[1]">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [routerLink]="['/grade', question.id, user[0].id]"
                    >{{ question.id }}</a
                  >
                </li>
              </div>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Team: {{ user[0].name | titlecase }}</h5>
            <p class="card-text">
              Select a question id above to grade the answer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
