<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-striped mat-sort">
      <thead>
        <tr>
          <th>Place</th>
          <th>Team</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <td></td>
          <td>{{ user.name | titlecase }}</td>
          <td>{{ user.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
