.table {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.table td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
  font-weight: bold;
}
