<footer class="navbar fixed-bottom">
  <div class="container pt-3">
    <div class="row">
      <div class="col-sm">
        <img
          src="/assets/CORA-02A.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm"></div>
      <div class="col-sm">
        <img
          src="/assets/imprint_b.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</footer>
