<div class="container">
  <div *ngFor="let question of questions">
    <div class="pt-3">
      <div class="card">
        <div class="card-header">Question: {{ question.id }}</div>
        <div class="card-body">
          <p class="card-text">
            {{ question.content }} <br />Deadline:
            {{ question.deadline | date: "HH:mm" }}
          </p>
          <div class="btn-group">
            <button
              class="btn btn-secondary"
              [routerLink]="['/editQuestion', question.id]"
            >
              Edit
            </button>
            <div *ngIf="question.asked">
              <button
                type="button"
                [disabled]="true"
                title="This question has already been asked!"
                class="btn btn-primary"
                (click)="sendQuestion(question.id)"
              >
                Sent to participants
              </button>
            </div>
            <div *ngIf="!question.asked">
              <button
                type="button"
                [disabled]="False"
                class="btn btn-primary"
                (click)="sendQuestion(question.id) && question.asked = true"
              >
                Sent to participants
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <form #createForm="ngForm" (ngSubmit)="create()">
    <h2 class="text-center text-primary">Create new question</h2>
    <hr />
    <div class="container">
      <div class="form-group">
        <textarea
          [(ngModel)]="model.content"
          name="content"
          placeholder="Question"
          width="100%"
          required
          class="form-control"
          autocomplete="off"
        >
        </textarea>
        <input
          type="time"
          [(ngModel)]="model.Deadline"
          name="Deadline"
          required
          width="100%"
          class="form-control"
          autocomplete="off"
        />
      </div>
      <div class="form-group text-center">
        <button
          class="btn btn-success"
          [disabled]="!createForm.valid"
          type="submit"
        >
          Create
        </button>
      </div>
    </div>
  </form>
</div>
