<div class="container pt-3">
  <div class="card mb-3">
    <div class="card-header">Team: {{ this.user?.name | titlecase }}</div>
    <div class="card-body">
      <h5 class="card-title">Question asked:</h5>
      <p class="card-text">
        {{ this.question.content }}
      </p>
      <hr />
      <h5 class="card-title">Answer received:</h5>
      <p class="card-text">
        {{ this.message.content }}
      </p>
      <div *ngIf="this.toLate">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Deadline was not met!</h5>
            <p class="card-text">
              This message was received at
              {{ this.message.timeSent | date: "HH:mm" }} but the deadline was
              {{ this.question.deadline | date: "HH:mm" }}!
            </p>
          </div>
        </div>
      </div>

      <div *ngIf="!this.message.graded">
        <form #gradeForm="ngForm" (ngSubmit)="grade()">
          <div class="form-group text-center btn-group">
            <input
              type="number"
              class="form-control"
              required
              min="0"
              max="10"
              name="grade"
              [(ngModel)]="model"
              placeholder="Grade from 0-10"
              id="grade"
            />
            <button class="btn btn-success" type="submit">Grade</button>
            <button class="btn btn-info" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
      <div *ngIf="this.message.graded">
        <hr />
        <h5>This answer has already been graded and can not be updated!</h5>
        <button class="btn btn-info" (click)="cancel()">Back</button>
      </div>
    </div>
  </div>
</div>
