.card {
  white-space: pre-wrap;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.btn-success {
  background-color: #96be1e;
}

.card-header {
  background-color: #96be1e;
  color: #ffffff;
}